/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1.5;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

html {
  font-family: Arial, sans-serif;
  overflow-x: hidden;
}

a {
  text-decoration: none;
  display: inline-block;
  padding: 8px 16px;
}

p {
  text-align: left;
  font-size: 25px;
  padding: 15px;
}

.nav-pagini {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1001;
  top: 0;
  left: 0;
  background-color: white;
  overflow-x: hidden;
  transition: 0.5s;
  display: flex;
  flex-direction: column;
  background: #3b094c;
  padding: 60px 0 0 0;
}

.nav-pagini #inchidere-buton {
  position: absolute;
  font-size: 34px;
  margin: 0;
  padding: 0;
  right: 10px;
  top: 10px;
  border: 2px solid #ffffff;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  text-decoration: none;
  line-height: 40px;
  text-align: center;
  padding: 0px;
}

.nav-pagini #inchidere-buton:hover {
  border-color: #ffffff;
  transform: rotate(360deg);
  transition: transform 1s;
}

.nav-pagini a {
  padding: 30px;
  text-decoration: none;
  font-size: 25px;
  color: #ffffff;
  display: block;
  transition: 0.3s;
}

.nav-pagini a:hover {
  color: #000000;
  font-weight: 400;
  background: #ffb000;
}

.nav-pagini .nav-pagina-principala, .nav-pagini .nav-pagina-2 {
  white-space: nowrap;
}

.continut-pagini-transparenta {
  background: rgba(34, 34, 34, .75);
  height: 100%;
  position: fixed;
  right: 0;
  top: 0;
  visibility: hidden;
  width: 100vw;
  z-index: 1000;
}

.titlu {
  text-align: center;
  font-size: 50px;
  padding: 20px;
  background: #3b094c;
  text-shadow: 1px 1px #ffb000;
  position: relative;
}

.titlu a {
  color: white;
  cursor: pointer;
  text-decoration: none;
}

.continut {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  position: relative;
  transition: margin-left .5s;
  background: white;
}

#deschidere-buton {
  font-size: 50px;
  font-weight: 900;
  cursor: pointer;
  display: inline-flex;
  height: 45px;
  width: 45px;
  margin: 0px;
  line-height: 40px;
  position: absolute;
  top: 45px;
  left: 10px;
  color: #ffb000;
}

#deschidere-buton:hover {
  color: #26094c;
  transform: rotate(360deg);
  transition: transform 1s;
  color: #ffb000;
}

#continut-pagini {
  padding: 16px;
  display: flex;
  flex-direction: column;
  text-align: left;
  margin: 30px;
}

.titlu-paragraf {
  font-weight: 900;
}

.text-pagina {
  padding: 15px;
  text-align: justify;
  text-indent: 100px;
  font-size: 20px;
}

.imagini {
  padding: 20px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 450px;
  height: auto;
  image-rendering: -webkit-optimize-contrast;
}

.butoane-pagina {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.buton {
  background-color: #3b094c;
  color: white;
  border-radius: 40px;
  width: 100px;
  height: 50px;
  line-height: 45px;
  padding: 0;
  text-align: center;
  margin: 0;
  font-size: 35px;
  font-weight: 600;
  margin: 70px 20px 30px 20px;
}

.buton:hover {
  background-color: #ffb000;
  color: black;
}

.buton-sus {
  position: absolute;
  right: 0;
  width: 50px;
  height: 50px;
  line-height: 46px;
  transform: rotate(90deg);
}

.buton-jos {
  position: absolute;
  right: 0px;
  width: 50px;
  height: 50px;
  font-size: 35px;
  top: 90px;
  line-height: 46px;
  transform: rotate(90deg);
  z-index: 1;
}